<h1>About Us</h1>
<div class="row">
    <div class="col-lg-12">
        <table class="table-bordered">
            <thead>
                <tr>
                    <th>SingleTon</th>
                    <th>Scoped</th>
                    <th>Transient</th>
                </tr>
             </thead>
            <tbody>
                <tr>
                    <td>
                        @ViewBag.singleton
                    </td>
                    <td>
                        @ViewBag.scoped
                    </td>
                    <td>
                        @ViewBag.transient
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewBag.secondsingleton
                    </td>
                    <td>
                        @ViewBag.secondscoped
                    </td>
                    <td>
                        @ViewBag.secondtransient
                    </td>
                </tr>
            </tbody>
</table>
</div>
</div>